@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;800&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* background-color:#000; */
    color:#fff; 
}
body{
    width:100vw;
    height:100vh;
    background-color: #000;
    
}
.container,.container2{
    width:100%;
    height:40.8rem;
    background-image:linear-gradient(rgba(0, 0, 0,0.7),rgba(0, 0, 0, 0.705)),url("img/gnet.jpg");
}
nav{
    display: flex;
    justify-content: space-between;
    padding:0 135px 0 135px;
}
#logo,#logo2{
    width:10.5rem;
    height:5.75rem;
}
.lang{
    width:7.5rem;
    height:29px;
    display: flex;
    background-color:transparent;
    outline:none;
    border:0.1rem solid #5E5E5E;
    border-radius:3px;
    margin-right:1.2rem;
}
.web{
    
    width:1rem;
    margin: 0.4rem 0.5rem;
}
.chervan{
    /* width:0.16rem; */
    margin: 0.3rem 0.5rem;
}
.tlang{
    font-size:0.95rem;
    font-weight:400;
}
.sidenav{
    display: flex;
    align-items: center;
}
#sign{
    width:4.7rem;
    height:29px;
    background-color:#C11119;
    border:none;
    outline:none;
    font-size:0.8rem;
    font-weight:430;
    color:#fff;
    border-radius:3px;

}
.pcontent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h3{
    font-size:2.95rem;
    line-height:70px;
    text-align: center;
    margin-top:117px;
}
.above{
    font-size:1.3rem; 
    margin-top:15px;
}
.below{
    font-size:1.08rem; 
    margin-top:20px;
}

.btn-grp{
    width:35.9rem;
    height:3rem;
    display: flex;
    margin:1.2rem 0 0 0.8rem;
    
}
.mailbtn{
      width:25rem;
      margin-right:0.5rem;
      outline:none;
      border:0.08rem solid #5E5E5E;
      background-color:rgba(0, 0, 0, 0.514) ;
      padding-left:0.8rem;
      border-radius:3px;
     
    }
.mailbtn:hover{
    content: '';
    /* border:1px solid #fff; */
    outline:auto;
}
.gbtn{
     width:13rem;
     background-color: #C11119;
     border:none;
     border-radius:3px;
     
     display: flex;
}
.gword{
    font-size:1.3rem;
    padding: 0.4rem 0 0 1.3rem;
}
.gclick{
    font-size:1.2rem;
    margin:0.58rem 0 0 1rem;
    font-weight:10;
}
.feature{
      display: flex;
      justify-content:center;
     align-items: center;
    width:100%;
    height:440px;
    background-color:black
}
.stext{
    margin-right:1.1rem;
}
h2{
    font-size:2.8rem;
    line-height:60px;
    
}
p{
    font-size:1.3rem;
    line-height:1.7rem;
    margin-top:1.2rem;
}


.bar{
    width:100%;
    height:0.45rem;
    background-color:#232323;

}
.tv{
    width:27rem;
    height:20.5rem;
    margin-left:2rem;
}

.mob{
    width:440px;
    height:18rem;
}
.tv3{
    width:28rem;
    height:20rem;
}
.kido{
    width:28rem;
    height:20rem;
}
.qustn{
    width:100%;
    height:auto;
    background-color:#000 ;
    display: flex;
    flex-direction: column;
    align-items: center;
    color:#fff;
   
}
h1{
    margin-top:4rem;
    font-size:2.8rem;}
.btn1{
    margin-top:1.4rem;;
    width:57.6rem;
    height:4.5rem ;
    background-color:#414141;
    
    display:flex;
    justify-content:space-between;
    align-items: center;
    position: relative;

}
.sym{
    position: relative;
   font-size:2.82rem;
   margin: 0.7rem 1.4rem 0 0;
    display: flex;}

.sym2{
    position:absolute;
    color:aqua;
    top:-3px;
    right:0.34rem;
    
}
.q1{
    font-size: 1.3rem;
    margin-left:1.5rem;

}
.btn2{
    width:57.6rem;
    height:11.2rem ;
    background-color:#414141;
     margin-top:0.07rem; 
     padding-top:0.3rem;
}
.pans,.pans2,.ans2,.ans3,.ans4,.ans5,.ans6,.ans7{
    font-size:1.2rem;
    line-height:1.4rem; 
    font-weight: 470;
    text-align: left;
    margin-left:1.4rem;
}
.ans4{
    margin-top:1.6rem;
}
.btn3{
    width:57.6rem;
    height:5.4rem ;
    background-color:#414141;
     margin-top:0.07rem; 
     padding-top:0.3rem;
}
.btn4{
    width:57.6rem;
    height:14.6rem ;
    background-color:#414141;
     margin-top:0.09rem; 
     padding-top:0.3rem;
}
.btn5{
    width:57.6rem;
    height:6.5rem ;
    background-color:#414141;
     margin-top:0.07rem; 
     padding-top:0.3rem;
}
.btn6{
    width:57.6rem;
    height:5.4rem ;
    background-color:#414141;
     margin-top:0.07rem; 
     padding-top:0.3rem;
}
.btn7{
    width:57.6rem;
    height:9.6rem ;
    background-color:#414141;
     margin-top:0.07rem; 
     padding-top:0.3rem;
}
.pcontent2{
    margin:1.5rem 0 4rem 0;
}

.end{
    width:80%;
    height:18rem;
    background-color: #000;
    margin-top:-19px;
   
}
.call{
    font-size:0.9rem;
    margin:4rem 0 0 8rem;
    font-weight:200;
}
.links{
    display: flex;
    justify-content: space-evenly;
     margin:-0.8rem 0 0 1.8rem;
}
.col1{
    font-size:0.8rem;
    font-weight:200;
    
}
a{
    display: inline-block;
    margin-bottom:1.3rem;
    line-height:0.1rem;
}
.blang,.net{
    font-size:0.73rem; 
    margin:0.6rem 0 0 8rem;
}