* {
  margin: 0;
  padding: 0;
  font-family: poppins;
}
body {
  width: 100vw;
  height: 100vh;
  margin: 50px;
  background-image: url(main.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.content button img {
  width: 25px;
  height: 25px;
  cursor: pointer;
  filter: invert(100%);
  margin-left: 5px;
}
button {
  background-color: rebeccapurple;
  padding: 10px;
  border: none;
  border-radius: 50px;
  color: white;
  font-size: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

button:hover {
  background-color: blue;
}
.input-box {
  position: relative;
  width: 100%;
  max-width: 400px;
  min-height: 150px;
  background-color: #fff;
  color: #000;
  padding: 15px;
  margin: 20px 0;
  outline: none;
  border-radius: 5px;
}
.input-box img {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 20px;
  cursor: pointer;
}
